body {
  background-image: url('assets/Brooklyn99_1600x900.jpg');
  background-size: cover;
  background-position: 0px -105px;

  color: #fff;

  text-shadow: 0 0 0.5em #161718;
}

#drum-machine {
  background: #161718;

  margin-top: 500px;
  padding: 40px;

  text-align: center;
}

#drum-machine #display {
	margin-bottom: 20px;
}

#drum-pads, #drum-pads div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#drum-pads div {	
  width: 8%;
  margin-right: 50px;

  outline: yellow 3px solid;
}